:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #353535;
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2.7vw 2.7vw 1.3vw;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

header {
    margin-bottom: 5.4vw;
}

.logo {
  width: 120px;
  height: auto;
  margin-bottom: 2vw;
}

.subtitle {
  font-size: 12vw;
  font-weight: 300;
  margin: 0 0 2.6vw 0;
  line-height: 1.2;
}

h1 {
  font-size: 6vw;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 0;
  line-height: 1.4;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  gap: 0.7vw;
  margin-bottom: 1.3vw;
}

footer {

  /* Push footer to bottom */
  padding-top: 1.3vw;
  padding-bottom: 1.3vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-info {
  text-align: left;
  font-size: 4.13vw;
  font-weight: 300;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.company-name {
  font-weight: 500;
  margin-bottom: 0;
}

a {
  color: #353535;
  text-decoration: none;
  transition: opacity 0.3s;
}

a:hover {
  opacity: 0.7;
}

p {
    display: block;
    margin-block-start: 1.4vw;
    margin-block-end: 1.4vw;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    }

.copyright {
  font-size: 4.13vw;
  font-style: italic;
  color: #353535;
  margin-top: 2.4vw;
}

/* Responsive adjustments */
/* Tablet and larger */
@media (min-width: 768px) {
  h1 {
    font-size: 4.33vw;
  }

  .subtitle {
    font-size: 8.67vw;
  }

  .contact-info {
    font-size: 2.6vw;
  }

  .copyright {
    font-size: 2.6vw;
  }
}

/* Laptop and larger */
@media (min-width: 1024px) {
  h1 {
    font-size: 3.67vw;
  }

  .subtitle {
    font-size: 7.33vw;
  }

  .contact-info {
    font-size: 2vw;
  }

  .copyright {
    font-size: 2vw;
  }
}

/* Large desktop */
@media (min-width: 1440px) {
  h1 {
    font-size: 3vw;
  }

  .subtitle {
    font-size: 6vw;
  }

  .contact-info {
    font-size: 1.53vw;
  }

  .copyright {
    font-size: 1.53vw;
  }
}