:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #000;
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem 2rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
}

header {
  margin-bottom: 4rem;
}

.logo {
  width: 100px;
  height: auto;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 0;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 300;
}

footer {
  margin-top: auto;
  /* Push footer to bottom */
  padding-top: 2rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.contact-info {
  text-align: center;
  font-size: 0.95rem;
  font-weight: 300;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.company-name {
  font-weight: 500;
  margin-bottom: 0;
}

a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: border-color 0.3s;
}

a:hover {
  border-bottom: 1px solid #000;
}

.copyright {
  font-size: 0.85rem;
  font-style: italic;
  color: #333;
  margin: 0;
}

/* Responsive adjustments */
@media (min-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }

  .subtitle {
    font-size: 2rem;
  }
}