:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #353535;
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#app {
    max-width: 90vw;
    margin: 0;
    padding: 6vw 6vw 6vw;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
    max-height: 100vh;
    width: 100%
}

header {
    margin-bottom: 2.7vw;
}

.logo {
  width: 120px;
  height: auto;
  margin-bottom: 2vw;
}

.subtitle {
  font-size: 10vw;
  font-weight: 300;
  margin: 0 0 2.5vw 0;
  line-height: 1.2;
}

h1 {
  font-size: 6vw;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin: 0;
  line-height: 1.4;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

footer {

  /* Push footer to bottom */
  padding-top: 9vw;
  padding-bottom: 1.3vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact-info {
  text-align: left;
  font-size: 4.5vw;
  font-weight: 300;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  margin-top: 1vw;
  margin-bottom: 1vw;
  gap: 5vw;
}

/* Stack email and phone vertically on mobile */
.contact-info p:last-of-type {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  font-size: 0; /* Hide the separator dot */
}

.contact-info p:last-of-type a {
  font-size: 4.5vw; /* Restore font size for links */
}

.company-name {
  font-weight: 500;
  margin-bottom: 0;
}

a {
  color: #353535;
  text-decoration: none;
  transition: opacity 0.3s;
}

a:hover {
  opacity: 0.7;
}

p {
    display: block;
    margin-block-start: 0.7vw;
    margin-block-end: 0.7vw;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    }

.copyright {
  font-size: 4.5vw;
  font-style: italic;
  color: #353535;
  margin-top: 6vw;
}

/* Responsive adjustments */
/* Tablet and larger */
@media (min-width: 768px) {
  h1 {
    font-size: 4.33vw;
  }

  .subtitle {
    font-size: 8.3vw;
  }

  footer {
    padding-top: 7.5vw;
  }

  .contact-info {
    font-size: 2.6vw;
    gap: 0;
  }

  /* Restore inline layout for email and phone */
  .contact-info p:last-of-type {
    flex-direction: row;
    gap: 0;
    font-size: 2.6vw; /* Show the separator dot */
  }

  .contact-info p:last-of-type a {
    font-size: inherit;
  }

  .copyright {
    font-size: 2.6vw;
    margin-top: 2.4vw;
  }
}

/* Laptop and larger */
@media (min-width: 1024px) {

  #app {
    padding: 4vw 6vw 6vw;
  }

  header {
    margin-bottom: 0vw;
  }

  footer {
  padding-top: 5vw;
  
  h1 {
    font-size: 3vw;
  }

  .subtitle {
    font-size: 6vw;
  }

  footer {
    padding-top: 6vw;
  }

  .contact-info {
    font-size: 2vw;
  }

  .contact-info p:last-of-type {
    font-size: 2vw;
  }

  .copyright {
    font-size: 2vw;
  }
}

/* Large desktop */
@media (min-width: 1440px) {
  h1 {
    font-size: 2.8vw;
  }

  .subtitle {
    font-size: 5.2vw;
  }

  footer {
    padding-top: 4.5vw;
  }

  .contact-info {
    font-size: 1.53vw;
  }

  .contact-info p:last-of-type {
    font-size: 1.53vw;
  }

  .copyright {
    font-size: 1.53vw;
  }
}
